
// Colors
$primary-color: #4056A1;

$primary-text-color: #3f4246;
$secondary-text-color: #FFFFFF;

$primary-border: 3px solid #3f4246;

$error-color: #e01818;
$warning-color: #e49502;

// Fonts
$primary-font: 'Bungee', sans-serif;
$secondary-font: 'Source Sans Pro', sans-serif;
