@use 'base';

nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  height: 6em;
  width: 100%;
  color: base.$secondary-text-color;
  background-color: base.$primary-color;
  padding: 0.5em 1.5em
}

div.write-tweet-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-end;
  margin-top: 2.6em;
  font-size: 1em;
  cursor: pointer;
}

span.title-name {
  display: flex;
  align-items: flex-end;
  font-family: base.$primary-font;
  font-size: 2em;
}

@keyframes bounce {
  0%   {transform: translateY(0);}
  50%  {transform: translateY(.5em);}
  100% {transform: translateY(0px);}
}

i.fa-angle-double-down {
color: red;
animation-name: bounce;
animation-duration: 2s;
animation-iteration-count: infinite;
}
