@use 'base';

$options-text-size: 0.8em;
$options-margin: 0.2em;

article.tweet {
  display: flex;
  flex-direction: column;
  padding: 0.8em;
  border: base.$primary-border;
  margin-bottom: 1.5em;

  &:hover {
    box-shadow: 0.3em 0.3em lightgrey;
  }
}

article.tweet > header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: auto;
  background-color: transparent;

  img {
    height: 2em;
  }
}

header div.user-name {
  display: flex;
  align-items: center;

  span {
    padding-left: 0.5em;
  }
}

article.tweet footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: base.$primary-border;

  span.time-ago{
    font-size: $options-text-size;
    margin-top: $options-margin;
  }

  div.options-buttons {
    font-size: $options-text-size;
    margin-top: $options-margin;
    cursor: pointer;

    .fa-flag {
      &:hover {
          color: base.$warning-color;
      }
    }

    .fa-retweet {
      &:hover {
        color: base.$primary-color;
      }
    }

    .fa-heart:hover {
      &:hover {
        color: base.$error-color;
      }
    }
  }  
}
