/*
 * http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * https://css-tricks.com/international-box-sizing-awareness-day/
 */
html {
  box-sizing: border-box;
  font-size: 24px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: #3f4246;
  background-color: #f4f1ec;
  font-family: "Source Sans Pro", sans-serif;
}

div.dynamic-content {
  display: flex;
  flex-direction: row;
}

main {
  display: flex;
  flex-direction: column;
  flex: 5;
  margin: 8em 2em 0 1.75em;
}

div#jump-to-top {
  display: flex;
  justify-content: center;
  visibility: hidden;
  position: fixed;
  border-radius: 50%;
  height: 2.2em;
  width: 2.2em;
  padding-top: 1px;
  margin: 1em;
  background-color: #4056A1;
  bottom: 0;
  right: 0;
  cursor: pointer;
}
div#jump-to-top i {
  font-size: 2em;
  color: #FFFFFF;
}

@media screen and (max-width: 1024px) {
  main {
    margin: 2em 1.75em;
  }

  div.dynamic-content {
    flex-direction: column;
  }
}
@media screen and (max-width: 500px) and (max-width: 760px) {
  html {
    font-size: 22px;
  }
}
@media screen and (max-width: 450px) and (max-width: 500px) {
  html {
    font-size: 19px;
  }
}
@media screen and (max-width: 400px) and (max-width: 450px) {
  html {
    font-size: 17px;
  }
}
@media screen and (max-width: 350px) and (max-width: 450px) {
  html {
    font-size: 15px;
  }
}
@media screen and (max-width: 300px) and (max-width: 350px) {
  html {
    font-size: 13px;
  }
}
