.new-tweet {
  display: flex;
  flex-direction: column;
  padding: 2% 10%;
}

.new-tweet form {
 display: flex;
 flex-direction: column;
}

#tweet-text {
  border: none;
  resize: none;
  wrap: soft;
  height: 30px;
  width: 100%;
  color: #3f4246;
  background-color: transparent;
  border-bottom: #3f4246 2px solid;
  margin-top: 1em;
  outline: none;
}

.tweet-info {
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee', sans-serif;
  padding: 2% 0;
}

.tweet-info button{
  border: 0px solid;
  color: white;
  background-color: #4056A1;
  padding: .5% 2%;
}

.danger {
  color: orange
}

.over {
  color: rgb(224, 24, 24)
}