section.new-tweet {
  display: none;
  flex-direction: column;
  margin-bottom: 1.2em;
}
section.new-tweet form {
  display: flex;
  flex-direction: column;
}
section.new-tweet h2 {
  margin-top: 0;
}

div.error-message {
  display: none;
  color: #e01818;
  padding: 0.4em;
  margin-bottom: 1em;
  border: 3px solid #e01818;
  background-color: lightgoldenrodyellow;
}
div.error-message i {
  font-size: 1em;
  padding: 0.2em;
}
div.error-message span {
  padding-left: 0.2em;
}

textarea#tweet-text {
  border: none;
  height: 2.5em;
  padding-top: 1em;
  width: 100%;
  background-color: transparent;
  color: #3f4246;
  border-bottom: 3px solid #3f4246;
  outline: none;
  resize: none;
  overflow: hidden;
}

div.tweet-info {
  display: flex;
  justify-content: space-between;
  font-family: "Bungee", sans-serif;
  padding: 0.7em 0;
}
div.tweet-info button {
  cursor: pointer;
  border: none;
  color: white;
  background-color: #4056A1;
  padding: 0.2em 0.7em;
}

.danger-char-limit {
  color: #e49502;
}

.over-char-limit {
  color: #e01818;
}
