article.tweet {
  display: flex;
  flex-direction: column;
  padding: 0.8em;
  border: 3px solid #3f4246;
  margin-bottom: 1.5em;
}
article.tweet:hover {
  box-shadow: 0.3em 0.3em lightgrey;
}

article.tweet > header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: auto;
  background-color: transparent;
}
article.tweet > header img {
  height: 2em;
}

header div.user-name {
  display: flex;
  align-items: center;
}
header div.user-name span {
  padding-left: 0.5em;
}

article.tweet footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 3px solid #3f4246;
}
article.tweet footer span.time-ago {
  font-size: 0.8em;
  margin-top: 0.2em;
}
article.tweet footer div.options-buttons {
  font-size: 0.8em;
  margin-top: 0.2em;
  cursor: pointer;
}
article.tweet footer div.options-buttons .fa-flag:hover {
  color: #e49502;
}
article.tweet footer div.options-buttons .fa-retweet:hover {
  color: #4056A1;
}
article.tweet footer div.options-buttons .fa-heart:hover:hover {
  color: #e01818;
}
